{{- if eq .environment "home" }}
# (linux)brew
export PATH="$HOME/.linuxbrew/bin:$PATH"
{{- else if eq .environment "aws" }}
# (linux)brew
export PATH="$HOME/.linuxbrew/bin:$PATH"
{{- end }}

# nvm
export NVM_DIR="$HOME/.nvm"

# jEnv
export PATH="$HOME/.jenv/bin:$PATH"

# pyenv
export PYENV_ROOT="$HOME/.pyenv"
export PATH="$PYENV_ROOT/bin:$PATH"

# poetry
export PATH="$HOME/.poetry/bin:$PATH"

# rbenv
export RUBY_CONFIGURE_OPTS="--with-openssl-dir=$(brew --prefix openssl@1.1)"
export PATH="$HOME/.rbenv/bin:$PATH"

{{- if eq .environment "work" }}
# android studio mac
export ANDROID_HOME=$HOME/Library/Android/sdk
export PATH=$PATH:$ANDROID_HOME/emulator
export PATH=$PATH:$ANDROID_HOME/tools
export PATH=$PATH:$ANDROID_HOME/tools/bin
export PATH=$PATH:$ANDROID_HOME/platform-tools

# curl
export PATH="/usr/local/opt/curl/bin:$PATH"
{{- end }}

{{- if eq .environment "home" }}
# x server
export DISPLAY=:0
{{- end }}

# editor
export EDITOR=$(which nvim)
